@font-face {
  font-family: "Evogria";
  src: local("Evogria"), url(./fonts/Evogria.otf) format("opentype");
}

@font-face {
  font-family: "Evogria";
  font-style: italic;
  src: local("Evogria"), url(./fonts/Evogria\ Italic.otf) format("opentype");
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #353f4b;
  font-family: "Poppins", sans-serif;
}

/* Para ocultar flecha del dropdown */
.dropdown-toggle::after {
  display: none !important;
}

.mt-n5 {
  margin-top: -3rem !important;
}

.ms-n3 {
  margin-left: -1.5rem !important;
}

.ms-n4 {
  margin-left: -2.5rem !important;
}
.productos{
  padding: 5rem 0;
  margin: 0 auto;
  display:block;
  grid-template-columns: repeat(auto-fit,minmax(22rem, 1fr));
  gap: 3rem 2rem;
  box-sizing: border-box;

}
.producto{
  display:flex;
  width: 80%;
  flex-direction: row;
  align-items: center;
  box-shadow: 10px 10px 10px 2px rgba(0, 0,0 , .2);
  border: 10px solid transparent;
  border-radius: 20px;
  margin-left: 7rem;
  
 

}
.producto:hover{
  border:6px solid rgba(3, 3, 3, 0.427) ; 

}
.producto_img img{
  width: 100px;


}
.producto_footer{
  padding: 1rem ;
}
.producto_footer h1{
  font-weight: 600;
  font-size: 1.5rem;
  color: black;
  font-family:Arial, Helvetica, sans-serif;
}
.producto_footer p{
  font-weight: 700;
  color: rgba(12, 11, 11, 0.6);
  text-transform: uppercase;
  font-size: 18px;
}
.producto .bottom{
  width: 18%;
  height: 45px;
  display:grid;
  grid-template-columns: 2fr 1fr;
  gap:1rem 3rem;
  padding: 0 1rem;
  margin:1rem;



}
.bottom .btn{
  border: none;
  outline:0 ;
  cursor:pointer;
  border-radius: 5px;
}
.bottom button{
background-color: rgb(255, 0, 140);
max-width: 250px;
width: 100%;

font-size: 1.5rem;
color: black;
font-weight: 600;
}
.producto_footer .price{
  font-size: 2rem;
  color:black;

}
.bottom div {
  display: grid;
  align-items: center;
  margin-left: -2rem;
  border-radius: 5px;

}
.bottom div a{
  color: white;
  font-weight: 700;
}
.bottom div a:hover{
  color: white;
}




/*order------*/
.productose{
  padding: 5rem 0;
  margin: 0 auto;
  display:block;
  grid-template-columns: repeat(auto-fit,minmax(22rem, 1fr));
  gap: 3rem 2rem;
  box-sizing: border-box;
  
  padding-left: 50%;
  

}
.productor{
  display:flex;
  width: 100%;
  
  flex-direction: row;
  align-items: center;
  box-shadow: 10px 10px 10px 2px rgba(0, 0,0 , .2);
  border: 5px solid black;
  border-radius: 20px;
  
 

}
.productor:hover{
  border:6px solid rgba(3, 3, 3, 0.427) ; 

}
.box {
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 1rem #00000025 inset;
}

.grid-responsive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}